<div class="container-fluid">
    <div class="row">
        <div id="contactUs" class="col">
        </div>
    </div>

    <div class="row justify-content-center " style="height: 200px; margin-top: 8%;">
        <div class="col-10 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <div class="d-flex justify-content-center align-items-center" style="font-size: 4rem;">Contact Us</div>
        </div>
    </div>

    <div class="row justify-content-center" style="height: 200px; margin-top: 3%;">
        <div class="col-4 m-2 shadow-lg p-3 mb-5 bg-info rounded text-light" style="border: 2px solid darkgrey;">
            <span class="d-flex justify-content-center align-items-center">Address</span>
            <span class="d-flex justify-content-center align-items-center">Mumbai, MH, IN</span>
        </div>

        <div class="col-4 m-2 shadow-lg p-3 mb-5 bg-info rounded text-light" style="border: 2px solid darkgrey;">
            <span class="d-flex justify-content-center align-items-center">Contact Info</span>
            <span class="d-flex justify-content-center">Email :- jobdirectoryinquiery@gmail.com</span>
            <span class="d-flex justify-content-center">Mobile :- +91xx xxx xxx xx</span>
        </div>
    </div>

    <div class="row justify-content-center " style="height: 200px; margin-top: 8%;">
        <div class="col-10 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <div class="d-flex justify-content-center align-items-center" style="font-size: 4rem;">Connect Us On</div>
        </div>
    </div>

    <div class="row justify-content-center" style="height: 200px; margin-top: 3%;">
        <div class="col-2 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <fa-icon class="m-5" [icon]="faFacebook" style="font-size: 60px; color: royalblue;"></fa-icon>
        </div>

        <div class="col-2 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <fa-icon class="m-5" [icon]="faYoutube" style="font-size: 60px; color: red;"></fa-icon>
        </div>

        <div class="col-2 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <fa-icon class="m-5" [icon]="faTwitter" style="font-size: 60px; color: royalblue;"></fa-icon>
        </div>

        <div class="col-2 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <fa-icon class="m-5" [icon]="faLinkedin" style="font-size: 60px; color: royalblue;"></fa-icon>
        </div>
    </div>


    <div class="row bg-dark" style="height: 20vh; margin-top: 3%;">
        <div class="col">
            <div class="h1 text-primary d-flex justify-content-center align-items-center">Thank You!</div>
            <div class="h1 text-light d-flex justify-content-center align-items-center">Do Visit Again</div>
        </div>
    </div>


</div>