<div class="container-fluid">
    <div class="row">
        <div class="col text-dark" id="AboutUs" style="height:60vh;">
            <div class="row" style="height: 15vh;"></div>
            <div class="row d-flex justify-content-center align-items-center" style="font-size: 100px; height: 20vh">
                About Us</div>
        </div>
    </div>

    <div class="row justify-content-center" style="height: 200px; margin-top: 3%;">
        <div class="col-3 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <div class=" d-flex justify-content-center text-primary">Kishor Adole</div>
            <div class=" d-flex justify-content-center text-primary">Student</div>
            <div class=" d-flex justify-content-center text-primary">PG-DAC</div>
            <div class=" d-flex justify-content-center text-primary">Feb-2020</div>
        </div>

        <div class="col-3 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <div class=" d-flex justify-content-center text-primary">Krishna Somwanshi</div>
            <div class=" d-flex justify-content-center text-primary">Student</div>
            <div class=" d-flex justify-content-center text-primary">PG-DAC</div>
            <div class=" d-flex justify-content-center text-primary">Feb-2020</div>
        </div>

        <div class="col-3 m-2 shadow-lg p-3 mb-5 bg-white rounded" style="border: 2px solid darkgrey;">
            <div class=" d-flex justify-content-center text-primary">Pratik Parab</div>
            <div class=" d-flex justify-content-center text-primary">Student</div>
            <div class=" d-flex justify-content-center text-primary">PG-DAC</div>
            <div class=" d-flex justify-content-center text-primary">Feb-2020</div>
        </div>
    </div>

    <div class="row bg-dark" style="height: 20vh; margin-top: 3%;">
        <div class="col">
            <div class="h1 text-primary d-flex justify-content-center align-items-center">Thank You!</div>
            <div class="h1 text-light d-flex justify-content-center align-items-center">Do Visit Again</div>
        </div>
    </div>

</div>