<div class="container-fluid">
    <div class="row" style="height: 28vh;"></div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col bg">
            <div class="text-info d-flex justify-content-center" style="font-size:100px">404</div>
            <div class="text-info d-flex justify-content-center" style="font-size:20px">Sorry, the page you tried
                cannot be found.</div>
            <hr class="bg-dark">
            <div class="text-dark d-flex justify-content-center" style="font-size:50px">Page Not Found</div>
        </div>
        <div class="col-3"></div>
    </div>
</div>