<main>
    <section class="form my-5 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="https://i.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I"
                        class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5 my-1" id="Login-box">
                    <h1>Create New Password</h1>
                    <form [formGroup]="myFormGroup">
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="text" placeholder="username" class="form-control mt-4 p-4"
                                    formControlName="username" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="password" placeholder="Enter Password" class="form-control mt-4 p-4"
                                    formControlName="Password" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-9 mt-2">
                                <button type="button" class="btn1 " (click)="updateUser()">Submit</button>
                            </div>
                        </div>


                        <div style="margin-left: 170px; margin-top: 10px;">
                            <a routerLink="/login">Login Here</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</main>