<div class="container-fluid">
    <div class="row">
        <div class="col text-light" id="bg">
            <div class="mt-5 ml-5" style="font-size: 60px;"> Get matched with a job</div>
            <div class="ml-5" style="font-size: 60px;"> you love, anywhere.</div>
            <div class="h5 mt-1 ml-5"> Create a free profile to unlock the opportunity for</div>
            <div class="h5 ml-5"> companies to apply to interview you with salary</div>
            <div class="h5 ml-5"> details upfront.</div>
        </div>
    </div>

    <div class="row" style="font-size: 50px; margin-top: 3%;">
        <div class="col">
            <div class="d-flex justify-content-center text-danger">----------------</div>
            <div class="d-flex justify-content-center">TAKE THE STRESS OUT OF</div>
            <div class="d-flex justify-content-center">YOUR JOB SEARCH</div>
            <div class="d-flex justify-content-center text-danger">----------------</div>
        </div>
    </div>

    <div class="row justify-content-center" style="height: 250px; margin-top: 3%;">
        <div class="col-9 shadow-lg p-3 mb-5 bg-white rounded" style="border: 1px solid darkgrey;">
            <div class="text-danger d-flex justify-content-center">REMOTE WORK</div>
            <div class="h1 text-dark d-flex justify-content-center">We believe in access to opportunity</div>
            <div class="d-flex justify-content-center">As the world evolves, so does the way we work. Joininga </div>
            <div class="d-flex justify-content-center">distributed team offers tech talent access to
                thousands of new </div>
            <div class="d-flex justify-content-center"> job opportunities while companies stay ahead of the
                curve with</div>
            <div class="d-flex justify-content-center">remote work.</div>

        </div>
    </div>

    <div class="row bg-dark" style="height: 15vh; margin-top: 5%;">
        <div class="col h2 text-danger">Job Directory</div>
        <div class="col h5 text-light">Learn More</div>
        <div class="col h5 text-light">Company</div>
        <div class="col h5 text-light">Social</div>
    </div>
</div>